@model NeedsViewModel

@{
    ViewData["Title"] = "Dwarf needs Management";
}

<div class="table-responsive-md">
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Job</td>
            <td>Hunger</td>
            <td>Thirst</td>
            <td>Energy</td>
            <td>Feed them</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var dwarf in Model.Dwarves)
        {
            <tr>
                <td>@dwarf.Name</td>
                <td>@dwarf.Job</td>
                <td>@dwarf.Hunger</td>
                <td>@dwarf.Thirst</td>
                <td>@dwarf.Energy</td>
                <td>
                    <form asp-action="Feed">
                        <div class="form-group">
                            <input type="hidden" name="Id" value="@dwarf.Id" >
                            <input asp-for="FoodToUse" class="form-control">
                            <span asp-validation-for="FoodToUse" class="text-danger"></span>
                            <input type="submit" value="Feed" class="btn btn-primary">
                        </div>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>