@model DwarfColony.Models.ViewModels.ResourceViewModel

<ul class="navbar-nav ms-auto resource-stats">
    <li class="nav-item text-white me-3 resource-item"><img src="~/images/Resources/dwarf.png" alt="dwarf icon" class="icon">@Model.Dwarves</li>
    <li class="nav-item text-white me-3 resource-item"><img src="~/images/Resources/food.png" alt="food icon" class="icon">@Model.Food</li>
    <li class="nav-item text-white me-3 resource-item"><img src="~/images/Resources/drink.png" alt="drink icon" class="icon">@Model.Water</li>
    <li class="nav-item text-white me-3 resource-item"><img src="~/images/Resources/wood.png" alt="wood icon" class="icon">@Model.Wood</li>
    <li class="nav-item text-white me-3 resource-item"><img src="~/images/Resources/materials.png" alt="materials icon" class="icon">@Model.Materials</li>
</ul>