@model DwarfColony.Models.ViewModels.ResourceViewModel

<ul class="navbar-nav ms-auto">
    <li class="nav-item text-white me-3">Dwarves: @Model.Dwarves</li>
    <li class="nav-item text-white me-3">Food: @Model.Food</li>
    <li class="nav-item text-white me-3">Water: @Model.Water</li>
    <li class="nav-item text-white me-3">Wood: @Model.Wood</li>
    <li class="nav-item text-white me-3">Materials: @Model.Materials</li>
</ul>