@model DwarfColony.Models.Entities.Dwarf
@{
    ViewData["Title"] = "Details @Model.Name";
}

<h1><b>@Model.Name</b></h1>
<p>Dwarf details:</p>
<p>Age of dwarf: @Model.Age</p>
<p>Energy: @Model.Energy</p>
<p>Hunger: @Model.Hunger</p>
<p>Thirst: @Model.Thirst</p>

<a asp-controller="Dwarves" asp-action="Index">Back to list of dwarves</a>


