@model DwarfColony.Models.Entities.Dwarf
@{
    ViewData["Title"] = "Details @Model.Name";
}

<h1><b>@Model.Name</b></h1>
<p>Dwarf details:</p>
<p>Age of dwarf: @Model.Age</p>
<p>Energy: @Model.Energy</p>
<p>Hunger: @Model.Hunger</p>
<p>Thirst: @Model.Thirst</p>
<p>Job : @Model.Job</p>

<a asp-controller="Dwarves" asp-action="Edit" asp-route-id="@Model.Id">Edit dwarf</a>
<a asp-controller="Dwarves" asp-action="Delete" asp-route-id="@Model.Id">Remove dwarf</a>

<a asp-controller="Dwarves" asp-action="Index">Back to list of dwarves</a>


