@model IndexViewModel
@{
    ViewData["Title"] = "Dwarf Base";
}

<div class="table-responsive-md">
    <table class="table table-dark table-hover">
        <thead class="table-danger">
        <tr>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.NameSort">Name</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.AgeSort">Age</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.EnergySort">Energy</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.HungerSort">Hunger</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.ThirstSort">Thirst</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.JobSort">Job</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.StatusSort">Status</a></th>
            <th><a asp-controller="Dwarves" asp-action="Index" asp-route-sortOrder="@Model.StateSort">State</a></th>
            <td>Current area</td>
            <th>Change job</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var dwarf in Model.Dwarves)
        {
            <tr>
                <td><a asp-controller="Dwarves" asp-action="Details" asp-route-id="@dwarf.Id"
                       class="table-text">@dwarf.Name</a></td>
                <td>@dwarf.Age</td>
                <td>@dwarf.Energy</td>
                <td>@dwarf.Hunger</td>
                <td>@dwarf.Thirst</td>
                <td>@dwarf.Job</td>
                <td>@dwarf.Status</td>
                <td>@dwarf.State</td>
                <td>@(dwarf.CurrentArea?.Name ?? "Unknown")</td>
                <td><a asp-controller="Dwarves" asp-action="Edit" asp-route-id="@dwarf.Id" class="table-edit">Change job</a>
                </td>
                <td><a asp-controller="Dwarves" asp-action="Delete" asp-route-id="@dwarf.Id"
                       class="table-delete">Delete</a></td>
            </tr>
        }
        </tbody>
    </table>
</div>
<form asp-controller="Dwarves" asp-action="Tick" method="post">
    <div class="text-start">
        <button type="submit" class="btn btn-outline-light btn-lg">Tick</button>
    </div>
</form>

<h3>Hire Dwarf to Base</h3>
    <a class="btn btn-outline-light" asp-controller="Dwarves" asp-action="Create">Hire</a>


