@model IEnumerable<DwarfColony.Models.Entities.Dwarf>
@{
    ViewData["Title"] = "Dwarves";
}

<h1>Dwarves in base</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Energy</th>
        <th>Hunger</th>
        <th>Thirst</th>
        <th>IsAlive</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var dwarf in Model)
    {
        <tr>
            <td><a asp-controller="Dwarves" asp-action="Details" asp-route-id="@dwarf.Id">@dwarf.Name</a></td>
            <td>@dwarf.Age</td>
            <td>@dwarf.Energy</td>
            <td>@dwarf.Hunger</td>
            <td>@dwarf.Thirst</td>
            <td>@dwarf.IsAlive</td>
            <td><a asp-controller="Dwarves" asp-action="Edit" asp-route-id="@dwarf.Id" >Edit</a></td>
        </tr>
    }
    </tbody>
</table>

